/* Reset body padding and margins */
body {
    color: #333;
    font-family: Arial, Helvetica, "sans-serif !important";
    font-size: .85em;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}
form {
    width: 100%;
    margin: 0 auto;
	}
/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
/* #container { margin:0 auto;overflow:auto; padding:20px 0; width:100%; } */
#content{margin-top:-40px;}

#container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
 }
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
 }
.validation-summary-errors {
color: #e80c4d;
font-weight: bold;
font-size: 1.1em;
}
.field-validation-error {
color: #e80c4d;
font-weight: bold;
}

.icon-time {
    float: left;
    padding: 0 10px 0 0;
}
.logintable
{
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    font-weight: bold;
    height: 150px;
    padding: 10px !important;
}

.txtfield
{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    height: 28px;
    padding: 0 10px;
    width: 90%;
}

.tbl-login, .tbl-login table
{
    margin-top: 0;
}

    .tbl-login tr td
    {
        padding: 0;
    }
.heading
{
    background-color: #292929;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    padding: 10px 0 10px 20px !important;
}

td input[type="submit"], td input[type="button"], td button {
    font-size: 13px !important;
    font-weight: bold !important;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    }
input[type="submit"], input[type="button"], button {
    background-color: #ACA382;
    border-color: #898273 #706447 #706447 #898273;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 6px;
    padding: 3px 8px;
    width: auto;
}
@media (max-width: 767px) {
    .navbar-header a.navbar-brand img { max-width:100%; }
    .footer-browser {display:none;}
}
@media (max-width: 831px) {
    .navbar-header a.navbar-brand img { max-width:100%; }
    .footer-browser {display:none;}
}
.HeaderOuterBg {
    background: url("/Images/headerouterbg2.gif") center top repeat-x  !important;
    padding-top: 5px; margin-top:0px!important;
}
.HeaderOuterBg { min-height:110px !important;  }
/*.HeaderOuterBg {
    background: url("/Images/headerouterbg2.gif") center top repeat-x #e7e7e7 !important;
    border-bottom: 2px solid #01a38b;
    padding-top: 5px;
}*/


/*.HeaderInnerBg {
    height: 85px;
    padding: 1px 5px 5px;
   
}

.HeaderTD1 {
    vertical-align: top !important;
}
.HeaderMenu {
    padding-top: 0;
    vertical-align: top;
    width: 100%;
}*/
.FooterInnerBg {
    border-top: 0 solid #EBEBEB;
    width: 855px;
}
.FooterOuterBg {
    background-image: url("/Images/footer_bg.jpg") !important;
    background-position: center top;
    background-repeat: repeat-x;    
    position:fixed;
    width:100%;
    bottom:0; 
    padding-top:15px;
}
.Footer {
    color: #666666;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    padding: 10px 0 0 10px;
}
.FooterText {
    color: #666666;
    display: none;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 10px;
}
.FooterLftTop {
}
.FooterMidTop {
}
.FooterRgtTop {
}
.FooterLftMid {
}
.FooterMid {
    height: 55px;
}
.FooterRgtMid {
}
.FooterLftBtm {
}
.FooterMidBtm {
}
.FooterRgtBtm {
}
a.FooterNav {
    color: #666666;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
a.FooterNav:hover {
    color: #666666;
    text-decoration: underline;
}
a.FooterLink {
    color: #666666;
    display: none;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a.FooterLink:hover {
    color: #666666;
    text-decoration: underline;
}

.hd1 {
    color: #FFFFFF;
    font-family: 'PT Sans',tahoma;
    font-size: 20px;
    font-weight: normal;
}
.hd2 {
    color: #B2B4BA;
    font-family: 'PT Sans',tahoma;
    font-size: 13px;
}
.hd_3 {
    color: #656870;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
}

a.read_more {
    color: #008981 !important;
    font-family: 'PT Sans',tahoma !important;
    font-size: 13px !important;
    text-decoration: none !important;
}
a.read_more:hover {
    color: #008981 !important;
    font-family: 'PT Sans',tahoma;
    font-size: 13px !important;
    text-decoration: none !important;
}

.btn-gradientbg
{ 
    color:white;
    font-weight:normal !important;
background: #646464; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTAxMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #646464 0%, #010101 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646464), color-stop(100%,#010101)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #646464 0%,#010101 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #646464 0%,#010101 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #646464 0%,#010101 100%); /* IE10+ */
background: linear-gradient(to bottom,  #646464 0%,#010101 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#010101',GradientType=0 ); /* IE6-8 */
    float: right;
    font-size: 13px !important;
    font-weight: bold !important;
    height: 35px;
    margin: 20px 0 0 0 !important;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100px !important;
}

.cbRememberMe {
    vertical-align:top;
}
/* Footer */
.footer-inner ul {
    margin: 0 auto;
    padding: 0 0 10px 0 !important;
    width: 275px !important;
}
@-moz-document url-prefix() {
  .footer-inner ul{
    margin: 0 auto;
    padding-top: 20px;
    width: 270px;
}
}
    .footer-inner ul li {
        color: #fff !important;
        display:inline;
    font-size: 13px;
    font-family: 'PT Sans',tahoma;
    }

/* LOGIN PANEL */

.mt-20 {margin-top: 20px;}
.login-header {
    background-color: #292929;
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    padding: 10px 0 10px 20px;
}
.login-body {
    background-color: #F7F7F7;
    border: 1px solid #DDD;
    float: left;
    font-weight: bold;
    padding: 20px 10px;position: relative;
}
.login-body:before, .login-body:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.login-body:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
@media (max-width: 767px) {
    .lbl-pwd {margin-top: 20px;}
}